!.gitignore

.settings/
.build*/
.kdev4/
.idea/
.project
.cproject
cmake-build-debug/
debug/
release/
doxygen/
nbproject/
.gbs/.cache/

Makefile
Makefile.*
makefile
makefile.*
*.kdev4
*.make
*.mk
*.exe
*.err
*.lk*
*.sym
*.swp
~*
*~
*.bak
*.map
*.sdf
*.slo
*.lo
*.pdb
*.idb
*.o
*.obj
*.so
*.dll
*.so.*
*.dylib
*.lib
*.lai
*.la
*.a
*.exe
*.out
*.app
*.log
moc_*.cpp
qrc_*.cpp
.sconsign.dblite